.btn {
	@include adaptiv-value('font-size', 18, 16, 1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 48px;
	background-color: #fff;
	border: 1px solid $mainColor;
	font-family: "Montserrat", sans-serif;
	color: $mainColor;
	padding: 2px 15px;
	transition: all 0.3s ease 0s;
	@include adaptiv-value("font-size", 18, 16, 1);
	@include adaptiv-value("padding-left", 28, 20, 1);
	@include adaptiv-value("padding-right", 28, 20, 1);
	@media (any-hover: hover) {
		&:hover {
			color: #374A67;
			background-color: rgba(217, 226, 232, 0.51);
		}
	}
	&._active {
		color: #374A67;
		background-color: rgba(217, 226, 232, 0.51);
	}
	&_large {
		min-height: 60px;
		@include adaptiv-value("padding-left", 40, 30, 1);
		@include adaptiv-value("padding-right", 40, 30, 1);
	}
}


.text {
	@include adaptiv-value('font-size', 20, 18, 1);
	font-family: "Montserrat", sans-serif;
	line-height: 135%;
	&_big {
		@include adaptiv-value("font-size", 26, 18, 1);
	}
	p {
		margin: 0 0 20px 0;
		&:last-child {
			margin: 0;
		}
	}
}
.title {
	position: relative;
	font-weight: 100;
	@include adaptiv-value('font-size', 60, 30, 1);
	text-align: center;
	line-height: 120%;
	&_left{
		text-align: left;
	}
	&_decor {
		span {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: calc(50% - 4px);
				left: -35px;
				transform: translate(0, -50%);
				height: 74px;
				width: 74px;
				z-index: -1;
				border-radius: 50%;
				background: linear-gradient(270deg, #D9E2E8 0%, rgba(217, 226, 232, 0) 83.46%);
			}
			&::after {
				content: "";
				position: absolute;
				top: calc(50% - 2px);
				transform: translate(0, -50%);
				left: -33px;
				height: 70px;
				z-index: -1;
				width: 70px;
				background-color: #fff;
				border-radius: 50%;
			}
		}
	}
}
